<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307102848946-908orvgda4neltqn3jiqd5n526vjn7cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307102848946-908orvgda4neltqn3jiqd5n526vjn7cv</string>
	<key>API_KEY</key>
	<string>AIzaSyArG760OymC5k75Bp2Bo1wiFE6xwk0_B7w</string>
	<key>GCM_SENDER_ID</key>
	<string>307102848946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hakimTravel</string>
	<key>PROJECT_ID</key>
	<string>dbhakim-82cbd</string>
	<key>STORAGE_BUCKET</key>
	<string>dbhakim-82cbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307102848946:ios:c677142900e47f507b76ab</string>
</dict>
</plist>